.git
.github
.idea
.vscode
**/.DS_Store
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/node_modules
**/dist
**/build
**/target
**/.gradle
**/venv
**/.venv
*.log
.env
backend/.sonar
TESTING
